:root {
    --clr-primary-300: #df0808;
    --clr-primary-400: #a31010;
    --clr-primary-500: rgba(151, 153, 153, 0.4);
    --clr-primary-600: #38DC69;
    --clr-primary-700: #F85252;
    
    --clr-neutral-100: #fff;
    --clr-neutral-200: #9A9A9A;
    --clr-neutral-300: #282631;
    --clr-neutral-400: #18171D;
    --clr-neutral-500: #707070;

    --ff-primary:'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:none;
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.1vh;
    line-height: 1.3;
}

body,
h1,
h2,
a,
p {
    margin: 0;
}

h1,
h2 {
    line-height: 1;
    font-weight: 700;
    font-size: 2vh;
    color: var(--clr-neutral-200);
}

p {
    color: var(--clr-neutral-200);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5vh);
}

.main--banking {
    position: relative;
    width: 100%;
    height: 50vh;
    background: var(--clr-neutral-300);
    border: .3vh solid var(--clr-primary-300);
    border-radius: 1vh;
    top: 50%;
    transform: translateY(50%);
}

.top--container {
    margin-inline: auto;
    width: min(90%, 60vh);
    background: var(--clr-neutral-400);
    border-radius: 0vh 0vh 1.5vh 1.5vh;
    height: 27.5vh;
}

.p--padding {
    padding: 1.5vh 0vh 5vh 4vh;
}

.p--padding--normal {
    padding: 0vh 0vh 2vh 4vh;
}

.p--padding--small {
    padding: 0vh 0vh 2vh 1.5vh;
}

.p--padding--h1 {
    padding-left: 1.5vh;
}

.p--white {
    color: var(--clr-neutral-100);
}

.p--padding--account {
    padding-bottom: 1.5vh;
}

.p--padding--top {
    padding-left: 5.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.padding--left {
    padding-left: 1.5vh;
}

.padding--left--bottom {
    padding-top: 1vh;
    padding-left: 1.5vh;
    padding-bottom: .5vh;
}

.card {
    width: 22.5vh;
    height: 12.5vh;
    margin-left: 4vh;
    border-radius: 1vh;
    background-image: linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-300));
    box-shadow: 0vh 0vh 1vh var(--clr-primary-500);
}

.card img {
    max-width: 5vh;
    padding: 1.5vh;
    padding-bottom: 1.5vh;
}

.card h2 {
    color: var(--clr-neutral-100);
}

.card h1 {
    color: var(--clr-neutral-100);
    font-weight: 500;
}

.grid--ish {
    display: flex;
    flex-wrap: row;
}


.horizontal {
    transform: rotate(90deg);
}

.account h1 {
    font-weight: 500;
}

.income {
    width: 22.5vh;
    height: 5vh;
    background: var(--clr-neutral-300);
    margin-left: 1.5vh;
    border-radius: 1vh;
}

.income--green {
    color: var(--clr-primary-600);
}

.expenditure--red {
    color: var(--clr-primary-700);
}

.test {
    border: none;
    border-left: .15vh solid var(--clr-neutral-500);
    height: 16.5vh;
    width: .2vh;
    margin-left: 1.25vh;
}


.test2 {
    border: none;
    border-left: .15vh solid var(--clr-neutral-500);
    height: 90%;
    width: .2vh;
    margin-top: .6vh;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.content-sidebar > *:nth-child(1) {
    flex: 1 1 47.5%;
}

.content-sidebar > *:nth-child(2) {
    flex: 1 1 5%;
}

.content-sidebar > *:nth-child(3) {
    flex: 1 1 47.5%;
}

.box {
    width: 16.5vh;
    height: 12.5vh;
    background: var(--clr-neutral-400);
    margin-left: 1.5vh;
    border-radius: 1.5vh;
}

.box img {
    max-width: 4vh;
    padding: 1vh;
}

.box p {
    float: right;
    margin-top: -2vh;
    padding-right: 1vh;
}

.button {
    width: 14vh;
    height: 6vh;
    background-image: linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-300));
    margin: auto;
    margin-top: .5vh;
    border-radius: 1vh;
    cursor: pointer;
}

.button--transfer {
    width: 18.5vh;
}

.button img {
    margin: auto;
    max-width: 4.5vh;
    padding-top: 1.5vh;
}

.button:hover {
    box-shadow: 0vh 0vh 1vh var(--clr-primary-500);
    transition: .2s;
}

.transfer {
    width: 21vh;
    margin-left: 3vh;
}

.cash-in {
    margin-left: 3vh;
}

.deposit--money--popup {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 30vh;
    height: 25vh;
    background: var(--clr-neutral-300);
    border: .3vh solid var(--clr-primary-300);
    border-radius: 1vh;
}

.transfer--money--popup {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 30vh;
    height: 37.5vh;
    background: var(--clr-neutral-300);
    border: .3vh solid var(--clr-primary-300);
    border-radius: 1vh;
}

.deposit--money--popup img,
.transfer--money--popup img {
    max-width: 5vh;
    background-image: linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-300));
    padding: 1vh;
    border-radius: 1vh;
    margin: 1.5vh;
}

.deposit--money--popup p,
.transfer--money--popup p {
    float: right;
    margin-top: -6vh;
    padding-right: 3vh;
}

.deposit--box {
    width: 26.5vh;
    height: 10vh;
    background: var(--clr-neutral-400);
    margin: auto;
    border-radius: 1vh;
}

.transfer--box {
    width: 26.5vh;
    height: 10vh;
    margin-bottom: 2vh;
    background: var(--clr-neutral-400);
    margin: auto;
    border-radius: 1vh;
}


.group { 
    position:relative; 
    margin-bottom:45px; 
    top: 2vh;
    left: 3.5vh;
}

input {
    font-size: 3vh;
    padding:10px 10px 10px 5px;
    display:block;
    width: 19.5vh;
    border:none;
    border-bottom:1px solid var(--clr-neutral-500);
    background: transparent;
    color: var(--clr-primary-300);
    text-align: center;
}

input:focus { 
    outline: none; 
}
  
label {
    color: var(--clr-neutral-500); 
    font-size:15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top:-10px;
    font-size:10px;
}
  
.bar {
    position:relative;
    display:block; 
    width:300px; 
}

.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
  
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

.button--deposit {
    width: 11.5vh;
    height: 4vh;
    background-image: linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-300));
    margin-left: 1.5vh;
    padding: 0;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.button--deposit p{
    color: var(--clr-neutral-100);
    font-size: 1.5vh;
    margin: auto;
    padding: 0;
    padding-top: .9vh;
    padding-right: 1.5vh;
}

.button--deposit:nth-child(1) {
    margin-left: 3.4vh;
    background: transparent;
    border: .2vh solid var(--clr-primary-300);
}

.button--deposit:hover {
    box-shadow: 0vh 0vh 1vh var(--clr-primary-500);
    transition: .2s;
}

#deposit--money--popup {
    opacity: 0;
    top: -100vh;
}

#deposit--money--popup.active {
    opacity: 1;
    top: 0;
    transition: .5s all;
}

#cashoutdragg,
#transferdragg,
#draggable {
    position: absolute;
    top: 0;
    left: -20vw;
}

#cashoutdragg img,
#transferdragg img,
#draggable img {
    cursor: move;
}


#cashout--popup {
    opacity: 0;
    top: -100vh;
}

#cashout--popup.active {
    opacity: 1;
    top: 0;
    transition: .5s all;
}

#transactionpopup {
    opacity: 0;
    top: -100vh;
}

#transactionpopup.active {
    opacity: 1;
    top: 0;
    transition: .5s all;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background: transparent;
}
  
